.btn{
padding: 10px;
    background-color: purple;
    color: white;
    font-family: cursive;
    border: none;
    border-radius: 9px;
    margin: 0px auto;
    display: flex;
    font-size: 23px;

}